/* @type: color-theme
   @name: 柠檬海盐
   @mode: light */

:root {
  --bg-primary:          #fffcf7;
  --bg-secondary:        #FDF9F1;
  --bg-hover:            #f8efde;
  --bg-selected:         #f3e5ce;
  --bg-selected-hover:   #f3dcb7;
  --text-primary:        #24416b;
  --text-secondary:      #4e709d;
  --text-tertiary:       #6a8cb0;
  --text-selected:              #FFFFFF;
  --text-tertiary-selected:     #daeaef;
  --icon:                       #689ac6;
  --icon-selected:              #FFFFFF;
  --icon-secondary:             #6782a4;
  --scrollbar-idle:      #95abc5;
  --scrollbar-active:    #879cb5;
  --theme-light:         #6795c7;
  --theme-dark:          #548ac7;
  --highlight:           #FFF36D;
  --highlight-current:   #B8A900;
}
