/* @type: color-theme
   @name: 备忘录
   @mode: light */

:root {
  --bg-primary:          #F8F1E2;
  --bg-secondary:        #F8F1E2;
  --bg-hover:            #F2EADB;
  --bg-selected:         #E6DACA;
  --bg-selected-hover:   #dfd1be;
  --text-primary:        #4E321B;
  --text-secondary:      #77563a;
  --text-tertiary:       #937763;
  --text-selected:       #FFFFFF;
  --text-tertiary-selected:     #FFEEA0;
  --icon:                       #77563a;
  --icon-selected:              #FFFFFF;
  --icon-secondary:      #937763;
  --scrollbar-idle:      #8B8B8B;
  --scrollbar-active:    #636363;
  --theme-light:         #D19600;
  --theme-dark:          #c18c04;
  --highlight:           #FFF36D;
  --highlight-current:   #B8A900;
}


