/* @type: color-theme
   @name: 浅色(默认)
   @mode: light */

:root {
  --bg-primary:          #FFFFFF;
  --bg-secondary:        #FBFBFB;
  --bg-hover:            #F0F0F0;
  --bg-selected:         #E0E0E0;
  --bg-selected-hover:   #D0D0D0;
  --text-primary:        #1A1A1A;
  --text-secondary:      #555555;
  --text-tertiary:       #6D6D6D;
  --text-selected:              #FFFFFF;
  --text-tertiary-selected:     #F0F0F0;
  --icon:                       #1A1A1A;
  --icon-selected:              #FFFFFF;
  --icon-secondary:             #808080;
  --scrollbar-idle:      #C0C0C0;
  --scrollbar-active:    #909090;
  --theme-light:         #0078D4;
  --theme-dark:          #005A9E;
  --highlight:           #FFF36D;
  --highlight-current:   #B8A900;
}
