/* @type: color-theme
   @name: 莫兰迪(褐色)
   @mode: light */

:root {
  --bg-primary:          #f9f7f4;
  --bg-secondary:        #F6F3EF;
  --bg-hover:            #EBE5DE;
  --bg-selected:         #DED8CF;
  --bg-selected-hover:   #CFC8BD;
  --text-primary:        #3A3430;
  --text-secondary:      #665E57;
  --text-tertiary:       #857D76;
  --text-selected:              #FFFFFF;
  --text-tertiary-selected:     #F5F2EE;
  --icon:                       #665E57;
  --icon-selected:              #FFFFFF;
  --icon-secondary:             #857D76;
  --scrollbar-idle:      #C4BBB0;
  --scrollbar-active:    #A89E92;
  --theme-light:         #9C7D62;
  --theme-dark:          #795C47;
  --highlight:           #FFF36D;
  --highlight-current:   #B8A900;
}
