/* @type: color-theme
   @name: 泛黄的书页
   @mode: light */

:root {
  --bg-primary:          #FCF8EF;
  --bg-secondary:        #FAF5EA;
  --bg-hover:            #F2EBD9;
  --bg-selected:         #E8DFC5;
  --bg-selected-hover:   #DBD0B4;
  --text-primary:        #2D2212;
  --text-secondary:      #5B4D3A;
  --text-tertiary:       #7E6F5A;
  --text-selected:              #FFFFFF;
  --text-tertiary-selected:     #F5EFE2;
  --icon:                       #5B4D3A;
  --icon-selected:              #FFFFFF;
  --icon-secondary:             #7E6F5A;
  --scrollbar-idle:      #D0C4A8;
  --scrollbar-active:    #A89A80;
  --theme-light:         #937964;
  --theme-dark:          #806555;
  --highlight:           #FFF36D;
  --highlight-current:   #B8A900;
}
