/* @type: color-theme
   @name: 蔷薇色
   @mode: light */

:root {
  --bg-primary:          #FCF8F8;
  --bg-secondary:        #FAF5F5;
  --bg-hover:            #F5EBEC;
  --bg-selected:         #ECD8DA;
  --bg-selected-hover:   #E0C4C7;
  --text-primary:        #352828;
  --text-secondary:      #604A4C;
  --text-tertiary:       #806A6C;
  --text-selected:              #FFFFFF;
  --text-tertiary-selected:     #F4E8E8;
  --icon:                       #604A4C;
  --icon-selected:              #FFFFFF;
  --icon-secondary:             #806A6C;
  --scrollbar-idle:      #D4C0C4;
  --scrollbar-active:    #B0989C;
  --theme-light:         #9B757A;
  --theme-dark:          #765258;
  --highlight:           #FFF36D;
  --highlight-current:   #B8A900;
}
