/* @type: color-theme
   @name: 浓咖啡
   @mode: dark */

:root {
  --bg-primary:          #201A16;
  --bg-secondary:        #241D19;
  --bg-hover:            #302620;
  --bg-selected:         #403028;
  --bg-selected-hover:   #503C32;
  --text-primary:        #E0D4C8;
  --text-secondary:      #A09080;
  --text-tertiary:       #807060;
  --text-selected:              #F8F0E8;
  --text-tertiary-selected:     #C8B8A8;
  --icon:                       #A09080;
  --icon-selected:              #F8F0E8;
  --icon-secondary:             #807060;
  --scrollbar-idle:      #403028;
  --scrollbar-active:    #604840;
  --theme-light:         #A06848;
  --theme-dark:          #C88860;
  --highlight:           #6F6800;
  --highlight-current:   #A39A00;
}
