/* @type: color-theme
   @name: 纯黑色
   @mode: dark */

:root {
  --bg-primary:          #000000;
  --bg-secondary:        #050505;
  --bg-hover:            #141414;
  --bg-selected:         #242424;
  --bg-selected-hover:   #333333;
  --text-primary:        #F0F0F0;
  --text-secondary:      #A0A0A0;
  --text-tertiary:       #808080;
  --text-selected:              #FFFFFF;
  --text-tertiary-selected:     #D0D0D0;
  --icon:                       #A0A0A0;
  --icon-selected:              #FFFFFF;
  --icon-secondary:             #808080;
  --scrollbar-idle:      #333333;
  --scrollbar-active:    #555555;
  --theme-light:         #505050;
  --theme-dark:          #888888;
  --highlight:           #6F6800;
  --highlight-current:   #A39A00;
}
