/* @type: typography
   @name: 网页(极简) */
.markleaf-style-minimal .markleaf-document {
  font-family: "Segoe UI","Microsoft YaHei", sans-serif;
  font-size: var(--ml-font-size);
  line-height: calc(var(--ml-line-height) * 1.1);
  letter-spacing: 0.01em;
}

.markleaf-style-minimal .markleaf-document h1,
.markleaf-style-minimal .markleaf-document h2,
.markleaf-style-minimal .markleaf-document h3,
.markleaf-style-minimal .markleaf-document h4 {
  font-family: "Segoe UI","Microsoft YaHei", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
}

.markleaf-style-minimal .markleaf-alert::before {
  font-family: "Segoe UI", "Microsoft YaHei", sans-serif;
}

.markleaf-style-minimal .markleaf-document h1 {
  font-size: calc(var(--ml-font-size) * 2);
  margin-bottom: 1em;
}

.markleaf-style-minimal .markleaf-document h2 {
  font-size: calc(var(--ml-font-size) * 1.5);
}

.markleaf-style-minimal .markleaf-document h3 {
  font-size: calc(var(--ml-font-size) * 1.25);
}

.markleaf-style-minimal .markleaf-document h1,
.markleaf-style-minimal .markleaf-document h2 {
  border-bottom: 0;
  padding-bottom: 0;
}

.markleaf-style-minimal .markleaf-document blockquote {
  border-left: 0;
  font-style: italic;
  padding: 0 1.5em;
  color: var(--text-secondary);
}

.markleaf-style-minimal .markleaf-document hr {
  width: 4em;
  margin: 2.5em auto;
  height: 2px;
  background: var(--text-primary);
  opacity: 0.3;
}

.markleaf-style-minimal .markleaf-document table {
  border: 0;
}

.markleaf-style-minimal .markleaf-document th {
  background: transparent;
  border-bottom: 2px solid var(--text-primary);
}

.markleaf-style-minimal .markleaf-document td {
  border: 0;
  border-bottom: 1px solid var(--bg-selected);
}

.markleaf-style-minimal .markleaf-document a {
  text-decoration: none;
}
